.MainDash{
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    /* margin-left: 1rem; */
    gap: 1rem;
}

.heading1{
    text-decoration: underline;
}

@media screen and (max-width: 1200px){
    .MainDash{
        justify-content: flex-start;
        margin-top: 2rem;
    }
}